.uptime-label{
    font-size: 50px;
    font-weight: 800;
    color: rgb(198, 201, 243);
}

.uptime-icon {
    font-size: 140px;
    margin-left: 35px;
    margin-bottom: 0px;
    color: #81a1c1;
}

.uptime-child {
    margin-top: 70px;
}

.doodle {
    font-family: "Iosevka Nerd Font";
    font-size: 30px;
    font-weight: 900;
    color: #bf616a;
}
