**/__pycache__/
**/.idea/
**/.vscode/

/config/bpytop/error.log
/config/ncmpcpp/error.log

/config/mpd/playlists/
/config/mpd/database
/config/mpd/log
/config/mpd/pid
/config/mpd/state

/config/qutebrowser/bookmarks
/config/qutebrowser/qsettings
/config/qutebrowser/autoconfig.yml
/config/qutebrowser/quickmarks
