**/__pycache__/
**/.idea/
**/.vscode/

**/*.log
**/.zcompdump*

**/Acri/
**/Dark/
**/Acri.qss
**/Dark.qss
**/System.qss

local/share/fonts/**/.uuid
config/_main/picom/log.picom.txt
config/_secure/gh/hosts.yml

config/_man/obs-studio/logs/
config/_man/obs-studio/basic/
config/_man/obs-studio/plugin_config/
config/_man/obs-studio/profiler_data/
config/_man/obs-studio/*.ini

config/_misc/mpd/log
config/_term/lazygit/state.yml

config/_misc/mpd/playlists/
config/_misc/mpd/database
config/_misc/mpd/log
config/_misc/mpd/pid
config/_misc/mpd/state

config/_term/tmux/tmuxhistory
config/_term/tmux/.tmuxhistory
config/_term/tmux/plugins

config/_shell/zsh/zhistory
config/_shell/zsh/.zhistory

config/_misc/qutebrowser/bookmarks
config/_misc/qutebrowser/qsettings
config/_misc/qutebrowser/autoconfig.yml
config/_misc/qutebrowser/quickmarks

config/_main/fontconfig/conf.d/

config/_shell/zsh/zsh-autosuggestions
config/_shell/zsh/powerlevel10k
config/_shell/zsh/zsh-autocomplete
config/_shell/zsh/zsh-syntax-highlighting
config/_shell/zsh/fast-syntax-highlighting
config/_misc/neofetch/config.conf

config/_shell/zsh/bin/
config/_shell/zsh/zplug/

config/_secure/spotify-tui/client.yml
config/_secure/spotify-tui/.spotify_token_cache.json
config/_secure/ncspot/userstate.cbor
config/_misc/spicetify/Backup
config/_misc/spicetify/Extracted
config/_misc/spicetify/Extensions
config/_misc/spicetify/CustomApps
config/_misc/zim/accelmap
