[submodule "config/_term/nvim"]
  path = config/_term/nvim
  url = https://github.com/dharmx/KrakeNvim.git

[submodule "home/.themes/phocus"]
  url = https://github.com/dharmx/phocus-phork.git
  path = home/.themes/phocus

[submodule "config/_secure/eww"]
  path = config/_secure/eww
  url = https://github.com/dharmx/vile.git

; vim:filetype=gitconfig
