[submodule "home/.themes/phocus"]
  url = https://github.com/dharmx/phocus-phork.git
  path = home/.themes/phocus

[submodule "config/_secure/eww"]
  path = config/_secure/eww
  url = https://github.com/dharmx/vile.git

[submodule "config/_misc/mpv/MordenX"]
	path = config/_misc/mpv/MordenX
	url = https://github.com/cyl0/MordenX.git
