@import url("structures/system/system.scss");
@import url("structures/user/user.scss");
@import url("structures/time/time.scss");
@import url("structures/uptime/uptime.scss");
@import url("structures/applications/applications.scss");
@import url("structures/directories/directories.scss");
@import url("structures/powermenu/powermenu.scss");
@import url("structures/audio/audio.scss");
@import url("structures/audiocontrol/audiocontrol.scss");
@import url("structures/systemstats/systemstats.scss");
@import url("structures/wallpaper/wallpaper.scss");

* {
    all: unset;
    font-family: "GE Inspira", 
                 "JetBrainsMono Nerd Font", 
                 "Material Icons", 
                 "Material Design Icons", 
                 "Material", 
                 "Material-Design-Iconic-Font", 
                 "Unifont";
    background-color: #252730;
}

/*
.usage-color-all, window, decoration, contents {
    background-color: rgb(59, 58, 82);
}
*/
