
.quick-links {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.box-class-all {
    margin-left: 10px;
}

.image-class-all {
    padding-left: 10px;
    padding-right: 9px;
}

.gmail-logo {
    background-color: #273B7A;
}

.github-logo {
    background-color: #fff;
}

.manganelo-logo {
    background-color: #97c4e8;
}

.youtube-logo {
    background-color: #EE3124;
}

.reddit-logo {
    background-color: #ff4500;
}

