#include "nord.Xresources"

! URxvt Configuration
URxvt.font:                       xft:JetBrainsMono Nerd Font Mono:size=14:autohint=true,xft:Noto Color Emoji:pixelsize=12:antialias=false,xft:Monospace:size=11:autohint=true
Xft.lcdfilter:                    lcddefault
Xft.dpi:                          97
URxvt.geometry:                   84x16
URxvt.internalBorder:             10
URxvt.cursorBlink:                false
URxvt.cursorUnderline:            false
URxvt.saveLines:                  8192
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            false
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      10
URxvt.iso14755:                   false
URxvt.iconFile:                   /usr/share/icons/Zafiro-Icons-Dark-Blue-f/apps/scalable/urxvt.svg
!Uncomment below if too much font spacing
!URxvt.letterSpace: -1

! URxvt Extensions
URxvt.perl-ext-common:            default,tabbedex,url-select
URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! Tabbedex Ext
URxvt.tabbedex.no-tabbedex-keys:  yes
URxvt.tabbedex.new-button:        true
URXvt.tabbedex.reopen-on-close:   yes
URxvt.tabbedex.autohide:          yes
URxvt.tabbedex.tabbar-fg:         5
URxvt.tabbedex.tabbar-bg:         0
URxvt.tabbedex.tab-fg:            10
URxvt.tabbedex.tab-bg:            0
URxvt.tabbedex.bell-fg:           0
URxvt.tabbedex.bell-bg:           0
URxvt.tabbedex.bell-tab-fg:       0
URxvt.tabbedex.bell-tab-bg:       0
URxvt.tabbedex.title-fg:          14
URxvt.tabbedex.title-bg:          0
URxvt.keysym.Control-Shift-T:     tabbedex:new_tab
URxvt.keysym.Control-Shift-R:     tabbedex:rename_tab
URxvt.keysym.Control-Shift-W:     tabbedex:kill_tab
URxvt.keysym.Control-Next:        tabbedex:next_tab
URxvt.keysym.Control-Prior:       tabbedex:prev_tab
URxvt.keysym.Control-Shift-Next:  tabbedex:move_tab_right
URxvt.keysym.Control-Shift-Prior: tabbedex:move_tab_left

! Resize Font Ext
URxvt.resize-font.step: 1
URxvt.keysym.Control-minus:       resize-font:smaller
URxvt.keysym.Control-plus:        resize-font:bigger
URxvt.keysym.Control-equal:       resize-font:reset
URxvt.keysym.Control-question:    resize-font:show

! URL Select Ext
URxvt.keysym.Control-Shift-U:     url-select:select_next
URvxt.url-select.button:          2
URxvt.url-select.launcher:        qutebrowser
URxvt.url-select.underline:       true

