@theme "/dev/null"
@import "theme.rasi"

* {
  background-color: @shade09;
  text-color: @base05;
  font: "Iosevka Nerd Font Bold 12";
}

window {
  width: 225px;
  padding: 25px;
  border: 3px;
  border-color: @base08;
  location: center;
  y-offset: -20px;
}

entry {
  expand: true;
  text-color: @base08;
}

/*
  vim:ft=rasi
*/
