@theme "/dev/null"
@import "theme.rasi"

* {
  background-color: @base01;
  text-color: @base08;
  font: "Iosevka Nerd Font Bold 12";
}

window {
  width: 360px;
  padding: 25px;
  // border-radius: 8px;
  border-color: @base08;
  location: center;
  y-offset: -20px;
}

entry {
  expand: true;
  text-color: @base08;
}

/*
  vim:ft=rasi
*/
