[Desktop Entry]
Type=Application
Name=BTOP
Terminal=true
Comment=Flashy and feature packed system monitor written in C++
Icon=/home/maker/.icons/Zafiro-Icons-Light/categories/22-Dark/applications-system.svg
Exec=btop
Categories=System;
Encoding=UTF-8
Keywords=Tools;System

