[Desktop Entry]
Type=Application
Name=EWW Screen Lock
Terminal=false
Comment=A pretty screen lock that makes use of widgets to achieve a sleek look
Icon=/home/maker/.icons/Zafiro-Icons-Light/apps/scalable/lock.svg
Exec=/home/maker/.config/eww/structs/screen-lock/locklauncher
Categories=System;
Encoding=UTF-8
Keywords=Lock;System;Screen;Widget

