[Desktop Entry]
Type=Application
Name=EWW MPD Centric Widgets
Terminal=false
Comment=Very useful widget with the MPD music player as the main attraction
Icon=apple-music
Exec=/home/maker/.config/eww/structs/main-utils/launch.bash
Categories=System;
Encoding=UTF-8
Keywords=Tools;System

