[Desktop Entry]
Type=Application
Name=EWW Wallpaper Browser
Terminal=false
Comment=A sleek and minimal wallaper browser. Powered by EWW
Icon=background
Exec=/home/maker/.config/eww/structs/wallpaper/launch.bash
Categories=Accessories;
Encoding=UTF-8
Keywords=Wallpaper;Background;Screen;Widget

