[Desktop Entry]
Type=Application
Name=Screen Lock
Terminal=false
Comment=EWW + i3lock Lock Screen
Icon=/home/maker/.icons/Zafiro-Icons-Light/categories/22-Dark/applications-system.svg
Exec=locklauncher --no-screen-off
Categories=System;
Encoding=UTF-8
Keywords=lock;security

