[Desktop Entry]
Type=Application
Name=Screen Lock
Terminal=false
Comment=EWW + i3lock Lock Screen
Icon=system-lock-screen
Exec=lock --no-screen-off
Categories=System;
Encoding=UTF-8
Keywords=lock;security

