[Desktop Entry]
Type=Application
Name=Polybar
Terminal=false
Comment=Highly configurable system Bar
Icon=applications-system
Exec=/home/maker/.scripts/launch/polybar.bash
Categories=Accessories;
Encoding=UTF-8
Keywords=Utilities;Explorer;

