[Desktop Entry]
Type=Application
Name=Ranger
Terminal=true
Comment=Vim-like file manager
Icon=applications-system
Exec=ranger
Categories=Accessories;
Encoding=UTF-8
Keywords=Utilities;Explorer;

