[Desktop Entry]
Type=Application
Name=Spotify TUI
Terminal=true
Comment=CLI Client for Spotify [NCURSES]
Icon=/home/maker/.icons/Zafiro-Icons-Light/apps/scalable/com.spotify.Client.svg
Exec=/home/maker/.config/spotify-tui/spt-launch.bash
Categories=Media;
Encoding=UTF-8
Keywords=Media;Music;Streaming
