[Desktop Entry]
Type=Application
Name=st
Terminal=false
Comment=simple-terminal emulator for X
Icon=utilities-terminal -e fish
Exec=st -e "/home/maker/.config/zsh/start.zsh 3den" -t "Simple Terminal ~"
Categories=System;TerminalEmulator
Encoding=UTF-8
Keywords=shell;prompt;command;commandline;cmd;

