[Desktop Entry]
Type=Application
Name=Tint2 All
Terminal=false
Comment=Highly configurable system Bar
Icon=applications-system
Exec=/home/maker/.scripts/launch/tint2.bash --launch
Categories=Accessories;
Encoding=UTF-8
Keywords=Utilities;Explorer;

