[Desktop Entry]
Type=Application
Name=Tint2 All
Terminal=false
Comment=Highly configurable system Bar
Icon=/home/maker/.icons/Zafiro-Icons-Light/categories/22-Dark/applications-system.svg
Exec=/home/maker/.config/tint2/launcher --launch
Categories=Accessories;
Encoding=UTF-8
Keywords=Utilities;Explorer;

