.label-media {
    font-size: 80px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.label-title, .label-artist {
    font-size: 30px;
    padding-left: 40px;
}

.label-artist {
    font-weight: 600;
    color: #778194;
}

.label-title {
    font-weight: 700;
    color: #bea062;
}

.label-previous {
    color: #bbcae4;
    padding-left: 45px;
}

.label-next {
    padding-right: 0px;
    color: #bbcae4;
}

.label-play-pause {
    color: #6c83a0;
}
