[Unit]
Description=Run clipboard manager as a daemon

[Service]
Type=simple
ExecStart=/usr/bin/parcellite --no-icon
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
