[Unit]
Description=Run stalonetray

[Service]
Type=oneshot
ExecStart=/usr/bin/stalonetray
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
