[Unit]
Description=Mounter service

[Service]
ExecStart=/usr/bin/udiskie --tray
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
