/*
.logo-twitter {
    background-color: #55ACEE;
}
*/

.logo-gmail {
    background-color: #273B7A;
}

.logo-github {
    background-color: #080808;
    padding: 20px;
}

.logo-manganelo {
    background-color: #97c4e8;
}

.logo-youtube {
    background-color: #EE3124;
}

.logo-reddit {
    background-color: #ff4500;
}
