[Unit]
Description=Lock screen when going to sleep or suspend
Before=sleep.target
Before=suspend.target

[Service]
Type=simple
User=%I
Environment=DISPLAY=:0
ExecStart=/home/%I/.bin/lock %I
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
