.sysinfo {
  margin: 15px 10px 15px 25px;
  font-size: 30px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.ram scale trough highlight {
  all: unset;
  background-color: #b48ead;
  color: #000000;
  border-radius: 10px;
}

.ram {
  color: #b48ead;
}

.disk scale trough highlight {
  all: unset;
  background-color: #a3be8c;
  color: #000000;
  border-radius: 10px;
}

.disk {
  color: #a3be8c;
}

.bat scale trough highlight {
  all: unset;
  background-color: #ebcb8b;
  color: #000000;
  border-radius: 10px;
}

.bat {
  color: #ebcb8b;
}

.blgt scale trough highlight {
  all: unset;
  background-color: #88c0d0;
  color: #000000;
  border-radius: 10px;
}

.blgt {
  color: #88c0d0;
}

.metric scale trough {
  all: unset;
  background-color: #3d3d4b;
  border-radius: 50px;
  min-height: 20px;
  min-width: 150px;
  margin-left: 10px;
  margin-right: 20px;
}
