.logo-reboot, .logo-shutdown, .logo-logout, .logo-lock, .logo-suspend {
    padding: 27px;
    padding-left: 50px;
    padding-right: 50px;
}
/*
.logo-reboot {
    background-color: #bf616a;
}

.logo-shutdown {
    background-color: #ebcb8b;
}

.logo-logout {
    background-color: #b48ead;
}

.logo-lock {
    background-color: #88c0d0;
}

.logo-suspend {
    background-color: #8aaf6a;
}
*/
