.free-label {
    font-size: 90px;
    background-color: #2e303a;
    margin-top: 25px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #505561;
}

.free-label-sep {
    font-size: 50px;
    font-weight: 700;
    color: #3c4047;
}

.free-label-disk {
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.free-label-value {
    padding-right: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.dirs {
    font-size: 35px;
    font-family: "Iosevka";
    font-weight: 400;
    margin: 3px;
    margin-left: 75px;
}

.btn-docs {
    margin-top: 25px;
}

.dirs-docs {
    color: #bf616a;
}

.dirs-dwld {
    color: #d08770;
}

.dirs-music {
    color: #ebcb8b;
}

.dirs-pics {
    color: #a3be8c;
}

.dirs-templ {
    color: #b48ead;
}

.dirs-vids {
    color: #81a1c1;
}

.dirs-cnf {
    color: #3BACA6;
}

.dirs-loc {
    color: #9d4edd;
}

.dirs-cache {
    color: #b76935;
}
