.time-parent {
    margin: 15px 30px 15px 20px;
}

.time-child-left {
    padding-top: 5px;
}

.time-label {
    font-weight: 700;
}

.time-label-ampm {
    color: #5e81ac;
    font-size: 80px;
    margin-left: 20px;
}

.time-label-day {
    color: #d8dee9;
    font-size: 60px;
}

.time-label-hr, .time-label-min {
    font-size: 80px;
    color: #81a1c1;
}

.time-label-sep {
    font-size: 80px;
    color: #81a1c1;
    padding-bottom: 15px;
}

.time-icon {
    margin-right: 10px;
    margin-left: 15px;
}