.logo-label {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #81A1C1;
}

.logo-image {
    margin-top: 34px;
}

.logo-hostname {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #a3be8c;
}
