[Desktop Entry]
Type=Application
Name=BTOP
Terminal=true
Comment=Flashy and feature packed system monitor written in C++
Icon=system
Exec=btop
Categories=System;
Encoding=UTF-8
Keywords=Tools;System

