[Desktop Entry]
Version=1.9.3
Type=Application
Name=Doxygen
Comment=Doxygen visualizer wizard
Icon=builder
Exec=doxywizard
Terminal=false
Categories=Development;Building;
StartupNotify=true
