[Desktop Entry]
Type=Application
Name=NCMPCPP
Terminal=true
Comment=NCURSES Interface for the Music Player Daemon [MPD]
Icon=media-player-48
Exec=ncmpcpp
Categories=Media;
Encoding=UTF-8
Keywords=Media;Music;
