[Desktop Entry]
Type=Application
Name=MaimRofi
Comment=Screenshot with maim and ROFI.
Icon=folder-pictures
Exec=/home/maker/.config/eww/src/shell/shot.bash
Categories=Utilities
Keywords=Utilities;Pictures
