[Desktop Entry]
Type=Application
Name=Spotify TUI
Terminal=true
Comment=CLI Client for Spotify [NCURSES]
Icon=spotify
Exec=spt
Categories=Media;
Encoding=UTF-8
Keywords=Media;Music;Streaming
