[Desktop Entry]
Name=Team Fortress 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/440
Icon=steam_icon_440
Terminal=false
Type=Application
Categories=Game;
