@import "theme.rasi"

* {
  font: "Dosis,Iosevka Nerd Font Bold 15";
  background-color: @bg-col;
  text-color: @fg-col;
}

window {
  width: 15em;
  padding: 1em;
  location: center;
}

entry {
  expand: true;
  width: 5em;
  text-color: @fg-col2;
}
